<div class="container-fluid h-100 bg-light">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-7 signup-bg pl-0 bg-white d-none d-md-block d-lg-block"></div>
      <div class="col-5">
        <form class="w-100 px-md-5">
          <div class="mb-5">
            <h1 class="font-weight-bold mb-0">Sign in</h1>
            <p class="mb-0">Welcome back! Please sign into your account.</p>
          </div>
          <div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>User name</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-center">
          <a routerLink="/vannainfo/dashboard" class="w-100">
            <button mat-raised-button color="primary" class="w-100">Sign in</button>
          </a>
        </div>
        </form>
      </div>
    </div>
  </div>